---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="Yousif - Blog"
	description="Personal Blog about Web Development, Machine Learning and Mixed Reality">
	<h1>Welcome to My Blog</h1>
</BaseLayout>